.card {
    background: rgba(240, 248, 255, 1);
    border-radius: 15px;
    margin: 10px auto;
}

.form {
    align: center;
}

body {
    background: url("../images/03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.list-group {
    border-radius: 15px;
}

.footer_logo {
    text-decoration: none;
}

.vk {
    text-decoration: none;
    color: #fff;
}

.vk:hover {
    text-decoration: none;
}